# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# celery beat schedule file
celerybeat-schedule

# virtualenv
venv/

# flask_migrate
migrations/

# redis
redis-stable/
dump.rdb

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
